.sidebar {
    min-height: 100vh;
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    transition: width 0.5s ease;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    width: 40px;
    display: block;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
}


.sidebar .menu:hover {
    background-color: #e2e6eb;
}

.sidebar .new-chat {
    margin-top: 50px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 0px 12px;
    background-color: #dde3ea;
    border-radius: 50px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #444746;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

.sidebar .new-chat:hover {
    background-color: #cfd5db;
}

.sidebar .new-chat p {
    text-wrap: nowrap;
    animation: fadeIn 1s;

}


.sidebar .new-chat img {
    width: 16px;
    filter: brightness(0);
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}

.sidebar .bottom-item p {
    animation: fadeIn 1s;
}

@media(max-width: 600px) {
    .sidebar {
        display: none;

    }
}